.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.container::before{
    content: '';
    position: absolute;
    margin-bottom: 225px;
    width: 10px;
    height: 50px;
    background: red;
    z-index: 10000;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}
.wheel {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    transition: transform 10s ease-in-out;
    overflow: hidden;
}
.wheel span {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background-color: black;
    transform: rotate(calc(45deg * var(--i)));
}
.number {
    position: absolute;
    inset: 0;
    rotate: 22.5deg;
}
.number b {
    position: absolute;
    inset: 10px;
    transform: rotate(calc(45deg * var(--i)));
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}