.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.wheel {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    transition: transform 5s ease-in-out;
    overflow: hidden;
}
.wheel span {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background-color: black;
    transform: rotate(calc(45deg * var(--i)));
}
.number {
    position: absolute;
    inset: 0;
    rotate: 22.5deg;
}
.number b {
    position: absolute;
    inset: 10px;
    transform: rotate(calc(45deg * var(--i)));
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}